body {
    font-family:Arial, Helvetica, sans-serif;
    min-height:100%;
    background-color: #e3e3e3;
}
#backgroundWrapper {
    position: absolute;
    height: 100%;
    width: 100%;
}
#background {
    background-image:url('../img/Movie_ticket.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100px;
    height: 100px;
    width: 100%;
    z-index: -100;
    position:relative;
    margin-top: 250px;
}
#app {
    padding-top: 70px;
}
#navbartheme {
    background: #990000;
}
.navbar-brand {
    color: #e3e3e3 !important;
}
.navbar-toggle:hover, .navbar-toggle:active {
    background: #730000 !important;
}
#SearchResult {
}
a {
    color:#ffffff;
}
#MovieListTable {
    width: 100%;
}
.tdTitle {
    /*width: 90%;*/
}
.tdBadge {
    float: right;
    /* width: 10%;*/
}
#share {
    display: block;
    width: 28px;
    height: 31px;
    background: url(../img/share.png);
    background-size: 28px 31px;
    margin-top: 10px;
    margin-right: 15px;
    float: right;
}

#ShareIcon{
    padding-top: 5px;
    padding-left: 3px;
}

#ShareIcon img{
    height: 30px;   
}

.ExtraButton {
    width: 100%;
    height: 40px;
    min-height: 42px;
    background: #e3e3e3;
    background-image: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0, #e8e8e8 100%);
    border: #ccc solid 1px;
    border-radius: 3px;
    margin-top: 3px;
    color:#1F1F1F;
}

.TableRating {
    width: 100%;
}
.TableRatingIcon {
    width: 50px;
}
.TableRatingName {
}
.TableRatingScore {
    width: 45px;
}
.RatingIcon {
    display: inline-block;
}
.RatingIcon img {
    height: 40px;
    padding: 2px;
    display: inline-block;
}
.RatingName {
    display: inline-block;
}
.RatingScore {
    display: inline-block;
    float: right;
    margin-right: 6px;
}
#MetascoreScore {
    padding: 5px;
    color:#fff;
}
#IMDBScore, #RottonScore {
    margin-right: 10px;
}
